{% extends 'layouts/base.html' %}
{% load static from staticfiles %}

{% block extra-styles %}
    <link rel="stylesheet" href="{% static "home/css/home.css" %}">
{% endblock %}

{% block main %}
    <div class="container">
        <form class="form-horizontal" method="POST" action="{% url "api:process-uploaded-file" %}" enctype="multipart/form-data" data-plugin="ajax-upload">
            {% csrf_token %}

            <div class="controls">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="input-group">
                            <input type="text" name="raw-text-data" class="form-control" placeholder="Type in raw text..." required>
                            <span class="input-group-btn">
                                <button class="btn btn-info" type="button" data-plugin="raw-text-analyze">Send</button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row loader-icon" style="display: none;">
                    <div class="col-md-2 col-md-offset-5">
                        <span class="fa fa-spinner fa-spin"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 col-md-offset-5">
                        <div class="form-group">
                            <input type="file" name="voice-file">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 col-md-offset-5">
                        <div class="form-group">
                            <button class="btn btn-primary" type="button" data-dialog="file"><span class="fa fa-upload"></span> Upload File</button>
                            <button class="btn btn-success" data-plugin="record-audio"><span class="fa fa-microphone"></span></button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="form-group">
                            <audio id="data-player" controls style="display: none;"></audio>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-md-offset-3">
                <div class="form-group" id="analyzed-response-text"></div>
            </div>

            <div class="col-md-3">
                <ul id="tasks-list">

                </ul>
            </div>

        </form>
    </div>

    {% verbatim %}
    <script id="api-request" type="text/x-jquery-tmpl">
        <div class="message bg-success col-xs-10">
            <p>${request}</p>
        </div>
    </script>
    <script id="api-response" type="text/x-jquery-tmpl">
        <div class="message bg-info col-xs-10 col-xs-offset-2">
            <p>{%html response%}</p>
            {%if best_prediction%}
            <div class='message-tooltip'>
                <span class="fa fa-info-circle" data-toggle="tooltip" title="Intent Prediction: ${best_prediction.label}(${best_prediction.probability}%)"></span>
            </div>
            {%/if%}
        </div>
    </script>
    <script id="api-scheduler" type="text/x-jquery-tmpl">
        {%each(date, task) tasks%}
        <li><strong>${date}:&nbsp;</strong>${task}</li>
        {%/each%}
    </script>
    {% endverbatim %}
{% endblock %}

{% block extra-footer-js %}
    <script src="{% static 'recorderjs/recorder.min.js' %}"></script>
    <script src="{% static 'home/js/home.js' %}"></script>
{% endblock %}
