.controls {
    padding-top: 15px;
    position: relative;
}

.controls [type="file"] {
    display: none;
}

.loader-icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding-top: 35px;
}

.full-width {
    width: 100%;
}

.message {
    position: relative;
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.message-tooltip {
    position: absolute;
    top: 15px;
    right: 15px;
}
