{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assistant</title>

    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
    {% block extra-styles %}{% endblock %}
</head>
<body>

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url "home:index" %}"><span class="fa fa-android"></span></a>
            </div>
        </div>
    </nav>
{% endblock %}

{% block main %}{% endblock %}

<script src="{% static 'jquery/jquery-3.2.1.js' %}"></script>
<script src="{% static 'jquery/jquery.tmpl.js' %}"></script>
<script src="{% static 'jquery/jquery.plugins.js' %}"></script>
<script src="{% static 'jquery/jquery.init.js' %}"></script>
<script src="{% static 'bootstrap-3.3.7/js/bootstrap.js' %}"></script>

{% block extra-footer-js %}{% endblock %}

</body>
</html>